.btn-primary{
    background-color:rgb(57, 180, 200) !important;
    border-color:rgb(67, 165, 190,0.1) !important;
  }
  .btn-primary:hover, .btn-primary:active{
    background-color:rgb(67, 165, 190,1) !important;
  }

