<!-- Tecnologies -->
    <div id="graph" class="offset-0 col-12  white border border-white  text-left">
       <div class="container py-3">
           <div class="row py-5 mt-5">         
               <div class="col-12  col-sm-3    
                           text-center
                           pr-lg-4 
                           white border border-white ">     
                   <div class="contain"> 
                       <div><img src="assets/img/polygone-titre1.jpg" class="img-fluid" alt="outils"></div>
                       <div class="centered "><i class="fas fa-cog"></i></div>
                   </div>
                </div>
                <div class="title-part-1 col-12 col-sm-9 col-md-9 col-lg-9     
                            text-center text-sm-left
                            mt-0 pt-4 pt-sm-0  pt-md-4 mt-sm-3 mt-md-2 mt-lg-2 mt-xl-1
                            white border border-white">
                <div class="mt-sm-0 mt-md-1 mt-lg-0"><h1>Technologies</h1></div>
                <div class="trait mt-sm-0 mt-md-2 mt-lg-1 mt-xl-1 text-center "></div>
            </div>
            </div>
           </div><!--Fin Container Titre Technologies-->
        </div><!--Fin COL Titre Technologies-->
        
   <div id="logiciels"></div>   
     <div class="col-12 col-sm-10 col-md-8 col-lg-8 col-xl-7  mx-auto white border border-white  text-center">           
        <h2 class="mt-5  display-3">Graphisme & PAO</h2>               
       <div class="row">
           <div class="col-12 white border border-white  text-center">
                <div>
                <button type="button" (mouseover)="Suite.toggle()" class="but btn btn-block  my-3 py-2 mb-2"><i class="fab fa-adobe"></i> Suite Adobe<br><i class="fas fa-angle-down"></i></button>
                    <div class="row" mdbCollapse #Suite="bs-collapse">
                        <div *ngFor="let graphic of graphisme" class="mx-auto col-6 col-sm-4 col-lg-3 col-xl-2  white border border-white">
                            <a (click)="goToFolioInfo()">
                            <img  src="{{graphic.path}}" class="hoverable img-fluid border border-black p-2" alt="Logo: {{graphic.name}}">
                            <span class="d-block pt-2">{{graphic.name}}</span></a>
                        </div>           
                    </div>
                </div>

            </div>
        </div>
    </div>
        <div class="container-fluid" id="devF">
            <div class="row">       
    <div class="col-12 col-xl-6 text-center white border border-white my-4 px-sm-5">            
        <h2 class="mt-5 display-3">Développement Front-End</h2>
    <!-- LANGAGES FRONT -->
    <div class="row">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 white border border-white  text-center">
            <div>
             <button  type="button" (mouseover)="langagesFront.toggle()" class="but my-3 btn btn-block py-2">Langages<br><i class="fas fa-angle-down"></i></button>
                 <div class="row" mdbCollapse #langagesFront="bs-collapse">
                     <div *ngFor="let langage of front_langages" class="col-6 col-sm-8 mx-sm-auto col-md-6 col-lg-6   white border border-white  text-center ">
                         <a (click)="goToFolioDev()">
                         <img src="{{langage.path}}" class="hoverable p-2 img-fluid border border-black " alt="Logo : {{langage.name}}">
                         <span class="d-block pt-2">{{langage.name}}</span></a>  
                     </div>
                 </div>           
            </div>       
        </div>
        <!-- FRAMEWORKS FRONT -->
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 white border border-white  text-center" id="contenu2">
            <div>
            <button type="button" (mouseover)="FrameworksFront.toggle()" class="but btn btn-block  my-3 py-2 mb-2">Frame&shy;works<br><i class="fas fa-angle-down"></i></button>
                <div class="row" mdbCollapse #FrameworksFront="bs-collapse">
                    <div *ngFor="let framework of front_frameworks" class="col-6 col-sm-8 mx-sm-auto  col-md-6 offset-md-2  col-lg-6  offset-lg-0  mt-lg-0  white border border-white  text-center">
                        <a (click)="goToFolioDev()">
                        <img src="{{framework.path}}" class="hoverable p-2 img-fluid border border-black " alt="Logo: {{framework.name}}">
                        <span class="d-block pt-2">{{framework.name}}</span></a>      
                    </div>
                </div>
            </div>  
        </div>  
        <!-- LIBRAIRIES FRONT -->
            <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                <div class="row">
                    <div class="col-12 white border border-white  text-center ">             
                        <div>
                        <button type="button" (mouseover)="LibrairiesFront.toggle()" class="but btn btn-block  my-3 py-2 mb-2">Librairies<br><i class="fas fa-angle-down"></i></button>
                            <div class="row" mdbCollapse #LibrairiesFront="bs-collapse">
                                <div *ngFor="let librairie of front_librairies" class="col-6 col-sm-8 mx-sm-auto col-md-6 col-lg-6 white border border-white  text-center">
                                    <a (click)="goToFolioDev()">
                                    <img src="{{librairie.path}}" class="hoverable p-2 img-fluid border border-black " alt="Logo: {{librairie.name}}">
                                    <span class="d-block pt-2">{{librairie.name}}</span></a>        
                                </div>  
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
             <!-- CMS FRONT -->
            <div class="col-12 white border border-white  text-center">        
                <div>
                <button type="button" (mouseover)="CMS.toggle()" class="but btn btn-block  my-3 py-2 mb-2"><strong>C</strong>ontent <strong>M</strong>anagement<strong> S</strong>ystem<br><i class="fas fa-angle-down"></i></button>
                    <div class="row" mdbCollapse #CMS="bs-collapse">                   
                        <div *ngFor="let cms of front_cms" class="col-6 col-sm-3 mx-sm-auto col-md-2   white border border-white text-center h-100">
                            <a (click)="goToFolioDev()">
                            <img src="{{cms.path}}" class="hoverable img-fluid  p-2 border border-black " alt="Logo: {{cms.name}}">
                            <span class="d-block pt-2">{{cms.name}}</span></a> 
                        </div>            
                    </div>
                </div>              
            </div>
    </div>
    </div><!--Fin COL Front-End-->
    <div class="col-12 col-xl-6 text-center border border-white  my-4 px-sm-5">    
    <div id="devB"></div>          
    <h2 class="mt-5  display-3">Développement Back-End</h2>       
        <div class="row">
            <!-- LANGAGES BACK -->
            <div class="col-12 col-sm-4 col-md-4 col-lg-4   white border border-white  text-center">  
                <div>
                    <button type="button" (mouseover)="LangagesBack.toggle()" class="but btn btn-block  my-3 py-2 mb-2">Langages<br><i class="fas fa-angle-down"></i></button>
                        <div class="row" mdbCollapse #LangagesBack="bs-collapse">
                            <div *ngFor="let langage of back_langages" class="col-6 col-sm-8 mx-sm-auto col-md-6  col-lg-6  white border border-white  text-center ">        
                                <a (click)="goToFolioDev()"> 
                                <img src="{{langage.path}}" class="hoverable p-2 img-fluid border border-black " alt="Logo: {{langage.name}}">
                                <span class="d-block pt-2">{{langage.name}}</span></a>        
                            </div>                
                        </div>
                </div>    
            </div>   
            <!-- FRAMEWORK BACK -->
            <div class="col-12 col-sm-4 col-md-4 col-lg-4    white border border-white  text-center">
                <div>
                <button type="button" (mouseover)="FrameworksBack.toggle()" class="but my-3 btn btn-block py-2 mb-2">Frame&shy;work<br><i class="fas fa-angle-down"></i></button>
                <div class="row" mdbCollapse #FrameworksBack="bs-collapse">
                    <div *ngFor="let framework of back_frameworks" class="col-6 col-sm-8 mx-sm-auto col-md-6 col-lg-6   white border border-white  text-center ">
                        <a href="#folio" class="js-scrollTo">
                        <img src="{{framework.path}}" class="hoverable p-2 img-fluid border border-black " alt="Logo: {{framework.name}}">
                        <span class="d-block pt-2">{{framework.name}}</span></a>        
                    </div>            
                </div>
                </div>                  
            </div>  
            <!-- APPLCATIONS BACK -->
            <div class="col-12 col-sm-4 col-md-4 col-lg-4   white border border-white  text-center">
                <div>
                    <button type="button" (mouseover)="ApplicationsBack.toggle()" class="but btn btn-block  my-3 py-2 mb-2">Appli&shy;cations<br><i class="fas fa-angle-down"></i></button>
                        <div class="row" mdbCollapse #ApplicationsBack="bs-collapse">
                            <div *ngFor="let application of back_applications" class="col-6 col-sm-8 mx-sm-auto col-md-6 col-lg-6   white border border-white  text-center ">
                                <a (click)="goToFolioDev()">
                                    <img src="{{application.path}}" class="hoverable p-2 img-fluid border border-black " alt="Logo: {{application.name}}">
                                    <span class="d-block pt-2">{{application.name}}</span></a>     
                            </div>
                        </div>
                    </div>  
                </div>

            </div> <!-- Fin Row Back-END -->    
        </div><!-- Fin Col-12 Back-end -->  
    </div>  <!-- Fin Row Front-End et Back-END -->   
</div><!-- Fin Container Front-End et Back-END -->  
<app-contacts></app-contacts>