
<section id="about">
    
    <div class="col-12  d-none d-xl-block py-5 mx-0 px-0  ">
        <div id="parallax-container calage"> 
             <div class="parallax-wrapper">
                 <div class="parallax-layer background-picture" id="opacite"></div>        
            </div>             
        </div>
    </div>
  
        <div class="container mt-5 my-auto mt-xl-0 pt-xl-0 h-25" id="top_apropos" >
             <div class="jumbotron mt-5" id="apropos"
             data-aos="fade"
             data-aos-offset="300"
             data-aos-easing="ease-in-sine"              
             >
                 <div class="col-12 pb-4">
                     <h1>Bienvenue sur mon site web</h1>  
                 </div>
                    <div class="row px-4 pb-4" >
                        <div class="col-md-6"> 
                            <p class="h4 mt-3"><strong><i class="far fa-clock"></i> La Maîtrise du Temps</strong></p>         
                            <ul>
                                <li>En utilisant une <strong>technologie réactive</strong></li>
                                <li>En parcourant l'espace <strong>sans latence</strong></li>
                            </ul>
                        </div>
  
                    <div class="col-md-6">
                        <p class="h4 mt-3"><strong><i class="fas fa-user-astronaut"></i> La Conquête de l'Espace</strong></p>   
                    <ul>           
                        <li>C'est du <strong>Responsive Web Design</strong></li>
                        <li>C'est de la <strong>communication interactive à 360°</strong></li>
                    </ul>
                    </div>
            </div>
               
                <div class="row px-4">
                    <div class="col-md-6">
                      <p class="h4 mb-2"><strong><i class="fas fa-globe"></i> &Agrave; 360 degrès ?</strong></p>
          
                     
                        
                        <ul>
                            <li>Afin de vous apporter une <strong>qualité de service !</strong></li>
                            <li>Maîtrisant le <strong>graphisme</strong> ; <br>
                                je suis de plus polyvalent en tant que <br>
                                <strong>Développeur Web</strong> et <strong>Mobile</strong>.</li>
                        </ul> 
                    </div>
                    
                    
                    <div class="col-md-6">   
                        <p class="h4"><strong><i class="fa fa-cogs"></i> Les Outils</strong></p>   
      
                        <p>
                            <strong><u>Ayant créé et réalisé ce site Web Responsif avec :</u></strong>
                        </p>
                        
                        <ul>
                            <li>Les frameworks <strong>Angular 9</strong> et <strong>Bootstrap 4</strong>  <br></li>
                            <li>Les langages <strong>TypeScript</strong>, <strong>jQuery</strong>,
                            <br> <strong>HTML5</strong> et <strong>CSS3</strong>  </li>   
                            <li>Vous souhaitez en savoir davantage ? <br>
                            <button class="btn btn-primary btn-lg" (click)="goToTechno()"
                                ><i class="fas fa-cog"></i> Technologies
                            </button></li>                          
                        </ul>
                       
                  </div>
              </div>
            </div>        
            
        </div>
  
    </section>
    <app-contact></app-contact>