#about{
  height: 100%;
}

.jumbotron {
  margin-bottom: 0px!important; 
  color: black; 
  background:rgba(255,255,255,0.6);
 }

h1{
  font-size:3.5em!important; 
  letter-spacing: -0.04em !important; 
  line-height:0.8em;
  padding-bottom:0.8em;

}
@media (min-width: 576px) {
  h1{
      margin-top:0.1em!important;
      font-weight:900!important;
      font-size:5em!important; 
      letter-spacing: -0.08em !important;  
      
    } 
}
@media (min-width:1200px) {  
  .calage{
    z-index:1000!important; 
    position: absolute!important;  
   left:0!important; 
    width: 100%!important;  
} 
h1{
  color: white; 
  letter-spacing: -0.01em !important; 
   text-shadow: black 0.05em 0.05em 0.05em;
   padding-bottom:2%;
   font-size:4em!important; 
  }
  #opacite{
    opacity:0.6!important; 
  }
}

  img{
    max-width:24px;
    height:auto;
    vertical-align:middle; 
  }

i{color:#43A5BE;}

.btn-primary:hover{
  background-color: white!important;
  color:#43A5BE;
  border-color:#43A5BE!important;
}
.btn-primary{
  background-color: white!important;
  color:black;
  border-color:black!important;
}

